[submodule "linear_algebra/dataset"]
	path = linear_algebra/dataset
	url = https://github.com/Tiger3018/hw_dataset
[submodule "human/vite-test"]
	path = human/vite-test
	url = https://github.com/Tiger3018/vite-test
[submodule "eie_car_software/src/synamic-class/3rdparty/yaml-cpp"]
	path = eie_car_software/src/synamic-class/3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
